@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid white;
}

body {
  color: white;
  background-color: black;
}

/* .calendar-grid:nth-child(1) {
  grid-column-start: 6;
} */
